{% include "header.html" %}

<h2>Профиль пользователя</h2>

<p><a href="/user/update">Редактировать профиль</a></p>
<p><a href="/user/change_password">Изменить пароль</a></p>
<p><a href="/catalog/create">Добавить новый объект в каталог</a></p>

<h3>Ваши объекты</h3>
{% for item in items %}
<p>{{ item.0 }} {{ item.1 }} {{ item.2 }} {{ item.3 }}
<br>
<a href="/catalog/view/{{ item.0 }}">Просмотреть</a> | 
<a href="/catalog/update/{{ item.0 }}">Изменить</a> | 
<a href="/catalog/delete/{{ item.0 }}">Удалить</a>
</p>
{% endfor %}

{% include "footer.html" %}
